<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Very Cool Website</title>
    <link rel="stylesheet" href="whistle.css">
</head>
<body>
    <video controls autoplay loop>
        <source src="/static/assets/demo/demo.webm" type="video/webm">
        <source src="/static/assets/demo/demo.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>